<html lang="de">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cailler</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <a href="/">Logo</a>
      <ul>
        <li><a href="/besuch">Besuch</a>
          <ul>
            <li><a href="/angebot">Angebote</a></li>
            <li><a href="/">Gruppen</a></li>
            <li><a href="/">Tickets</a></li>
          </ul>
        </li>
        <li><a href="/">Rezept</a></li>
        <li><a href="/shop">Shop</a>
          <ul>
            <li><a href="/">Zubehör</a></li>
            <li><a href="/">Personalisiertes</a></li>
            <li><a href="/">Souvenirs</a></li>
            <li><a href="/">Firmenkunden</a></li>
          </ul>
        </li>
        <li><a href="/ueberuns">Über uns</a>
          <ul>
            <li><a href="/">Kontakt</a></li>
            <li><a href="/news">News</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li><a href="">DE</a></li>
        <li><a href="">FR</a></li>
        <li><a href="">EN</a></li>
      </ul>
    </header>

    {{{body}}}

    <footer>
      <a href="/impressum">Impressum</a>
    </footer>
  </body>

</html>