<html lang="de">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cailler</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <a href="/"><img id="logo" src="/logo.png" alt="Cailler" /></a>
      <ul class="navigation">
        <li id="link-unav1"><a href="/besuch">Besuch</a>
          <ul class="unternavigation" id="unav1">
            <li><a href="/erlebnisse">Erlebnisse</a></li>
            <li><a class="nicht-verlinkt">Gruppen</a></li>
            <li><a class="nicht-verlinkt">Tickets</a></li>
          </ul>
        </li>
        <li><a class="nicht-verlinkt">Rezept</a></li>
        <li id="link-unav2"><a href="/shop">Shop</a>
          <ul class="unternavigation" id="unav2">
            <li><a class="nicht-verlinkt">Zubehör</a></li>
            <li><a class="nicht-verlinkt">Personalisiertes</a></li>
            <li><a class="nicht-verlinkt">Souvenirs</a></li>
            <li><a class="nicht-verlinkt">Firmenkunden</a></li>
          </ul>
        </li>
        <li id="link-unav3"><a href="/ueberuns">Über uns</a>
          <ul class="unternavigation" id="unav3">
            <li><a class="nicht-verlinkt">Kontakt</a></li>
            <li><a href="/news">News</a></li>
          </ul>
        </li>
      </ul>
      <ul class="sprache">
        <li><img src="/welt.png" alt="" /></li>
        <li id="link-unav4"><a href="">DE</a>
          <ul id="unav4">
            <li><a class="nicht-verlinkt">FR</a></li>
            <li><a class="nicht-verlinkt">EN</a></li>
          </ul>
        </li>

      </ul>
    </header>

    <main>{{{body}}}</main>

    <footer>
      <div class="footer-links footer_strich-r">
        <div class="footer-nav1">
          <div class="footer-nav1-some">
            <a
              href="https://www.facebook.com/cailler.ch/?locale=de_DE"
              target="_blank"
            ><img src="/facebook.png" alt="facebook" /></a>
            <a
              href="https://www.instagram.com/cailler_suisse/?hl=de"
              target="_blank"
            ><img src="/instagram.png" alt="instagram" /></a>
          </div>
          <div class="footer-nav1-links">
            <a>Kontakt</a>
            <a class="footer_striche">B2B Shop</a>
            <a class="footer_strich-r">Newsletter</a>
            <a href="/erklaerung">Erklärungsseite</a>
          </div>
        </div>
        <div class="footer-nav2">
          <a class="footer_strich-r">FAQ</a>
          <a>Datenschutz</a>
          <a class="footer_striche">Nutzungsbedingungen</a>
          <a>Verkaufskonditionen</a>
        </div>
        <div class="footer-logos">
          <img id="logo-nestle" src="/nestle.png" alt="Nestlé" />
          <div class="footer-logos-titel">
            <a
              href="https://fr.tripadvisor.ch/Attraction_Review-g1140517-d1888906-Reviews-Maison_Cailler-Broc_La_Gruyere_Canton_of_Fribourg.html"
              target="_blank"
            ><img src="/travelers.png" alt="Travelers' Chioce" /></a>
            <a href="https://www.fssc.com/fssc-22000/" target="_blank"><img
                src="/sgs.png"
                alt="SGS"
              /></a>
            <a
              href="https://www.barrierefreieschweiz.ch/fr"
              target="_blank"
            ><img src="/okgo.png" alt="OKGO" /></a>
            <a
              href="https://www.stv-fst.ch/fr/durabilite/centre-de-competences/swisstainable"
              target="_blank"
            ><img src="/trainable.svg" alt="Swiss Tainable" /></a>
          </div>
        </div>
      </div>
      <div class="footer-ort">
        <iframe
          class="footer-ort-karte"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2741.006128465897!2d7.106164375165992!3d46.606881856478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e8a0037c5c85d%3A0x2d9882185016e539!2sMaison%20Cailler!5e0!3m2!1sen!2sch!4v1742914939097!5m2!1sen!2sch"
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <p>Öffnungszeiten Maison Cailler</p>
        <p>Mo - So: 10.00 - 17.00 Uhr</p>
      </div>
    </footer>
  </body>

</html>