<div class="banner">
  <img src="/banner_besuch.jpg" alt="" />
  <h2>Ihr Maison Cailler Besuch</h2>
</div>

<div class="besuch1 bg-beige">
  <p>Um Ihr Schokoladenerlebnis so angenehm wie möglich zu gestalten, möchten
    wir Ihnen den Besuch des Museums Maison Cailler erleichtern. Im Folgenden
    finden Sie die Preise für jeden Besucher sowie weitere nützliche
    Informationen. Wir empfehlen Ihnen dringend, Ihre Eintrittskarte im Voraus
    online zu kaufen. Tauchen Sie mit Ihren Lieben direkt in das Maison du
    Chocolat Cailler ein und genießen Sie die schokoladigen Abenteuer, die auf
    Sie warten, in vollen Zügen.
  </p>
</div>

<div class="besuch2 bg-beige">
  <p class="p-bold">Preis</p>
  <div class="besuch2__container">
    <div class="besuch2__container--1">
      <p>Reguläre Tarife</p>
      <div class="besuch2--preis">
        <div class="besuch2--preis-text">
          <p>Kinder 0-5 Jahre</p>
          <p>Kinder 6-15 Jahre</p>
          <p>Studenten, Senioren und Beeinträchtigte</p>
          <p>Erwachsene</p>
        </div>
        <div class="besuch2--preis-text">
          <p>Gratis</p>
          <p>CHF 7.-</p>
          <p>CHF 14.-</p>
          <p>CHF 17.-</p>
        </div>
      </div>
      <button>Tickets kaufen</button>
      <p class="kleingedrucktes">Bitte beachten:
        <br />
        Die Karten Raiffeisen, Swiss Travel System und Swiss Museum Pass sind
        bei uns willkommen und gewähren Ermässigungen. Nur Standardtarife sind
        online verfügbar. Für Rabatte, Ermässigungen, Gutscheine oder freien
        Eintritt wenden Sie sich bitte an die Kasse vor Ort.</p>
    </div>
    <div class="besuch2__container--2">
      <p>Gruppentarife</p>
      <div class="besuch2--preis">
        <div class="besuch2--preis-text">
          <p>Gruppen ab 10 Erwachsenen</p>
          <p>Gruppen von Kindern unter 16 Jahren*</p>
        </div>
        <div class="besuch2--preis-text">
          <p>CHF 14.-/Person</p>
          <p>CHF 7.-/Kind</p>
        </div>
      </div>
      <p class="kleingedrucktes">*1 Begleitperson pro 10 Kinder gratis. Jede
        zusätzliche Begleitperson: CHF 14 -</p>
      <button>Tickets kaufen</button>
      <p class="kleingedrucktes">Um die Verfügbarkeit zu prüfen und um Gruppen
        von 50 oder mehr Erwachsenen zu buchen, kontaktieren Sie uns bitte unter
        maisoncailler@nestle.com oder +41 26 921 59 60.</p>
    </div>
  </div>
</div>

<div class="besuch3">
  <div class="besuch3__abschnitt">
    <p class="p-bold">Öffnungszeiten</p>
    <p>7 Tage die Woche geöffnet am 25.12. und 01.01.2025 geschlossen</p>
    <div class="besuch3-1__liste besuch3--beige">
      <div class="besuch3-1__liste-datum">
        <p>01.11 bis 28.03</p>
        <p>01.04. bis 31.10</p>
      </div>
      <div class="besuch3-1__liste--zeit">
        <p>10.00-17.00</p>
        <p>10.00-18.00</p>
      </div>
    </div>
    <p>Letzter Kartenverkauf vor Ort:
      <br />
      1 Stunde vor Schliessung</p>
    <div class="besuch3__abschnitt1-4">
      <div class="besuch3--beige">
        <p>Bei Fragen wenden Sie sich an</p>
      </div>
      <p>+41 26 921 59 60
        <br />
        (Mo-Fr: von 09.00 Uhr bis 11.00 Uhr und von 14.00 Uhr bis 16.00 Uhr)</p>
    </div>
  </div>
  <div class="besuch3__abschnitt">
    <p class="p-bold">Informationen</p>
    <div class="besuch3-2__liste">
      <div class="besuch3-2__liste-icons">
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
      <div class="besuch3-2__liste-text">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="besuch3__abschnitt">
    <p class="p-bold">Der Besuch ist verfügbar auf</p>
  </div>
</div>