<div class="banner">
  <img src="/banner_besuch.jpg" alt="" />
  <h2>Ihr Maison Cailler Besuch</h2>
</div>

<div class="besuch1 bg-beige">
  <p>Um Ihr Schokoladenerlebnis so angenehm wie möglich zu gestalten, möchten
    wir Ihnen den Besuch des Museums Maison Cailler erleichtern. Im Folgenden
    finden Sie die Preise für jeden Besucher sowie weitere nützliche
    Informationen. Wir empfehlen Ihnen dringend, Ihre Eintrittskarte im Voraus
    online zu kaufen. Tauchen Sie mit Ihren Lieben direkt in das Maison du
    Chocolat Cailler ein und genießen Sie die schokoladigen Abenteuer, die auf
    Sie warten, in vollen Zügen.
  </p>
</div>

<div class="besuch2 bg-beige">
  <p class="p-bold">Preis</p>
  <div class="besuch2__container">
    <div class="besuch2__container--1">
      <p>Reguläre Tarife</p>
      <div class="besuch2--preis">
        <div class="besuch2--preis-text">
          <p>Kinder 0-5 Jahre</p>
          <p>Kinder 6-15 Jahre</p>
          <p>Studenten, Senioren und Beeinträchtigte</p>
          <p>Erwachsene</p>
        </div>
        <div class="besuch2--preis-text">
          <p>Gratis</p>
          <p>CHF 7.-</p>
          <p>CHF 14.-</p>
          <p>CHF 17.-</p>
        </div>
      </div>
      <button>Tickets kaufen</button>
      <p class="kleingedrucktes">Bitte beachten:
        <br />
        Die Karten Raiffeisen, Swiss Travel System und Swiss Museum Pass sind
        bei uns willkommen und gewähren Ermässigungen. Nur Standardtarife sind
        online verfügbar. Für Rabatte, Ermässigungen, Gutscheine oder freien
        Eintritt wenden Sie sich bitte an die Kasse vor Ort.</p>
    </div>
    <div class="besuch2__container--2">
      <p>Gruppentarife</p>
      <div class="besuch2--preis">
        <div class="besuch2--preis-text">
          <p>Gruppen ab 10 Erwachsenen</p>
          <p>Gruppen von Kindern unter 16 Jahren*</p>
        </div>
        <div class="besuch2--preis-text">
          <p>CHF 14.-/Person</p>
          <p>CHF 7.-/Kind</p>
        </div>
      </div>
      <p class="kleingedrucktes">*1 Begleitperson pro 10 Kinder gratis. Jede
        zusätzliche Begleitperson: CHF 14 -</p>
      <button>Tickets kaufen</button>
      <p class="kleingedrucktes">Um die Verfügbarkeit zu prüfen und um Gruppen
        von 50 oder mehr Erwachsenen zu buchen, kontaktieren Sie uns bitte unter
        maisoncailler@nestle.com oder +41 26 921 59 60.</p>
    </div>
  </div>
</div>

<div class="besuch3">
  <div class="besuch3__abschnitt">
    <p class="p-bold">Öffnungszeiten</p>
    <p>7 Tage die Woche geöffnet am 25.12. und 01.01.2025 geschlossen</p>
    <div class="besuch3-1__liste besuch3--beige">
      <div class="besuch3-1__liste-datum">
        <p>01.11 bis 28.03</p>
        <p>01.04. bis 31.10</p>
      </div>
      <div class="besuch3-1__liste--zeit">
        <p>10.00-17.00</p>
        <p>10.00-18.00</p>
      </div>
    </div>
    <p>Letzter Kartenverkauf vor Ort:
      <br />
      1 Stunde vor Schliessung</p>
    <div class="besuch3__abschnitt1-4">
      <div class="besuch3--beige">
        <p>Bei Fragen wenden Sie sich an</p>
      </div>
      <p>+41 26 921 59 60
        <br />
        (Mo-Fr: von 09.00 Uhr bis 11.00 Uhr und von 14.00 Uhr bis 16.00 Uhr)</p>
    </div>
  </div>
  <div class="besuch3__abschnitt">
    <p class="p-bold">Informationen</p>
    <div class="besuch3-2__liste">
      <div class="besuch3-2__liste-icons">
        <img src="/icon_rollstuhl.png" alt="" />
        <img src="/icon_gepaeck.png" alt="" />
        <img src="/icon_wlan.png" alt="" />
        <img src="/icon_spiel.png" alt="" />
        <img src="/icon_tiere.png" alt="" />
        <img src="/icon_parkplatz.png" alt="" />
      </div>
      <div class="besuch3-2__liste-text">
        <p>Rollstuhl</p>
        <p>Gepäckfach</p>
        <p>Ladestationen und WLAN</p>
        <p>Spielplatz vorhanden</p>
        <p>Haustiere sind nicht erlaubt</p>
        <p>Gratis Parkplätze</p>
      </div>
    </div>
  </div>
  <div class="besuch3__abschnitt">
    <p class="p-bold">Der Besuch ist verfügbar auf</p>
    <div class="besuch3-3__sprachen">
      <p>Französisch | Deutsch |</p>
      <p>Englisch | Italienisch |</p>
      <p>Spanisch | Portugisisch |</p>
      <p>Arabisch | Thailändisch |</p>
      <p>Chinesisch | Polnisch |</p>
      <p>Tschechnisch | Koreanisch |</p>
      <p>Japanisch | Russisch</p>
    </div>
    <p>Die gesamte Tour dauert zwischen 45 Minuten und 1 Stunde.</p>
    <div class="besuch3-3__fragen">
      <div class="besuch3--beige">
        <p>Haben Sie eine Frage?</p>
      </div>
      <p>Die Antwort finden Sie wahrscheinlich in unseren FAQs unten.</p>
    </div>
  </div>
</div>

<div class="besuch4 bg-beige">
  <div class="besuch4-1">
    <p class="p-bold">Zugang</p>
    <p>Adresse:</p>
    <p>Maison Cailler, Rue Jules Bellet 7
      <br />
      1636 Broc, Schweiz</p>
    <div class="besuch4-1__liste">
      <p>Mit dem ÖV: Zughaltestelle - Broc-Chocolaterie</p>
      <p>Mit dem Auto: kostenloser Parkplatz "Visiteurs Quai 1"</p>
      <p>Mit dem Car: kostenloser Parkplatz "Visiteurs Quai 2"</p>
      <p>Zu Fuss: Wanderwegekarte</p>
    </div>
  </div>
  <div class="besuch4-2">
    <iframe
      class="footer-ort-karte"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2741.006128465897!2d7.106164375165992!3d46.606881856478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e8a0037c5c85d%3A0x2d9882185016e539!2sMaison%20Cailler!5e0!3m2!1sen!2sch!4v1742914939097!5m2!1sen!2sch"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>

<div class="besuch5 bg-brown">
  <div class="besuch5-1">
    <p class="p-bold">Boutique und Café</p>
    <p>Geniessen Sie unsere berühmte heisse Schokolade im Café Cailler, wo Sie
      auch eine Auswahl von heissen und kalten Getränken, leichten Snacks und
      von unseren Chocolatiers kreierten Desserts degustieren können. In der
      Cailler Boutique finden Sie die gesamte Cailler Produktpalette, Geschenke
      und Souvenirs, u.a. T-Shirts, Poster und Tassen. In unserer Confiserie
      können Sie auch exquisite, authentische Schweizer Schokoladen-Kreationen
      kaufen.</p>
  </div>
  <div class="besuch5-2">
    <img src="/besuch1.png" alt="" />
  </div>
</div>

<div class="besuch6 bg-beige">
  <div class="besuch6-1">
    <img src="/besuch2.png" alt="" />
  </div>
  <div class="besuch6-2">
    <p class="p-bold">Der neue Garten des Maison Cailler, ein Paradies für
      Kinder!</p>
    <p>Mehr als ein kulinarisches Abenteuer ist es hier die ikonische Geschichte
      der Cailler-Schokolade, die den Kindern in der neuen Gartenanlage mit
      Frühlingsspielen geboten wird: die Haselnuss und die Kakaoschote, die
      Milchkesselrutsche, der hölzerne Lastwagen, das Mischkarussell: ein
      Entspannungsbereich für Kinder zum Springen, Klettern und Rutschen.</p>
  </div>
</div>