<div class="banner">
  <img src="/banner_shop.jpg" alt="" />
  <h2>Erklärungsseite</h2>
</div>

<div class="erklaerung1 bg-beige">
  <h1>Die Bildschirmgrösse für unsere Webseite beträgt 1290px x 600px (wxh).</h1>
  <h1>Nicht verlinkte Seiten in der Navigation haben keinen Hovereffekt und
    können nicht angeklickt werden.</h1>
  <h1>Sonstige Buttons oder Links, welche nicht verknüpft sind, führen einfach
    nirgendwo hin.</h1>
</div>

<div class="erklaerung2 bg-white">
  <h1>Änderungen gemäss dem Konzept/Mockup</h1>
  <p>Sitemap übersichtlicher aufbauen: wir haben nur noch eine Unternavigation
    und es gibt keine Links, die auf die gleiche Seite, nur an eine andere
    Stelle führen.</p>
  <p>Mehr Abstände/Weissraum, um die Elemente hinzufügen: wir haben bei allen
    Elementen mehr Weissraum hinzugefügt.</p>
  <p>Darstellung des Headers verbessern. Die momentane rechte Seite neben dem
    Logo in der Sitemap integrieren und den laufenden Balken unter der
    Navigation entfernen: haben wir alles gemacht.</p>
  <p>Im Footer die Öffnungszeiten besser darstellen und die Halbnavigation mit
    den Verlinkungen zu Facebook, Instagram und Newsletter im Footer
    integrieren: konnten wir auch wie geplant umsetzten.</p>
  <p>Wörter nicht in Versalien schreiben: wir haben, mit Ausnahme von
    Firmennamen und Abkürzungen keine Wörter mehr in Versalien.</p>
  <p>Konsistenz der Elemente und des Aufbaus verbessern (z.B. gleiche Buttons):
    wir haben alle Buttons gleich gestalten, mit der Ausnahme der Schriftgrösse
    bei kleineren Buttons. Ebenfalls sind die Abstände zwischen den Elementen
    gleich gross.</p>
  <p>Unübersichtliche Elemente übersichtlicher gestalten: wir haben ganze
    Abschnitte neu gestaltet und die Übersichtlichkeit durch Struckturierung
    verbessert.</p>
</div>

<div class="erklaerung3 bg-white">
  <h1>Abweichungen am Konzept/Mockup</h1>
  <p>Nicht funktionierende Buttons reparieren: da wir die Webseite nicht ganz
    funktionstüchtig nachgebaut haben, funktionieren nicht alle Links. Jedoch
    führt keiner zu einer Fehlermeldung.</p>
  <p>Das Symbol zum Chatten links unter den Cookie-Einstellungen platzieren:
    diese Verbesserung haben wir bereits im Mockup verworfen, da es mitten im
    Bild ist und störend ist.</p>
  <p>Bei der Filterfunktion im Webshop keine Icons einsetzten und die Animation
    entfernen. Ausserdem der Button zur Anwendung der Filter oben platzieren,
    damit man nicht nach unten scrollen muss: diese Verbesserung wäre
    programmiertechnisch zwar möglich gewesen, jedoch auch sehr aufwändig und
    die Zeit hat nicht mehr gereicht.
  </p>
  <p>Visuelle Abweichungen zum Mockup: die Breite der Elemente, die Abstände und
    auch manchmal die Aufteilung beziehungsweise Platzierung der Elemente ist
    nicht genau gleich wie im Mockup. Das liegt daran, dass beim Programmieren
    nicht alles gleich gut möglich ist, wie wenn man es auf XD ganz einfach
    platzieren kann und weil die Grössenverhältnisse im Web anders sind und die
    Angaben nicht genau übereinstimmen.</p>
</div>