<div class="banner">
  <img src="/banner_erlebnisse.jpg" alt="" />
  <h2>Cailler Erlebnisse</h2>
</div>
<div class="bg-beige" > 
  <h1>Schokoladenfabrik: Maison Cailler</h1>
  <div class="erlebniss" > 
   
  <div class="box-erlebniss">
  <br> <br>
  <p class="p-bold"> Erlebnisse</p>
  <p> Träumen Sie davon, einmal eine echte Schokoladenfabrik zu besuchen?
    Wir laden Sie ein, unser Schweizer Maison du Chocolat Cailler kennenzulernen
    und in die genussvolle Welt der Schokolade einzutauchen. <br> <br>
    Erfahren Sie in einem interaktiven Erlebnis für die Sinne
    alles über unsere Cailler Fabrik in Broc, treffen Sie unsere Chocolatiers und
    kreieren Sie in unseren Schokoladen-Workshops Ihre eigene Schokolade.</p>
    <br> <br>
    <p class="p-bold"> Ein Besuch bei Cailler in Broc</p> 
    <p>
Kommen Sie in unsere Maison Cailler Chocolate Factory und
lassen Sie sich von Schokolade rundum verführen: Unsere interaktive,
etwa einstündige Führung durch die Cailler Fabrik nimmt Sie mit
auf einen Streifzug durch die Geschichte der Schokolade,
von den Azteken bis zu heutigen Innovationen.
    </p>
    <br> <br>
    <p class="p-bold"> Kreationsvielfalt im Schokoladen-Workshop
    </p> 
    <p>
      Wir im Maison Cailler sind besonders stolz auf unser
      Schokoladen-Know-how und teilen unsere Leidenschaft,
      unsere Erfahrung und unsere Handwerkskunst gerne mit
      Schokoladenfans aus aller Welt. In den Schokoladen-Workshops
      von Cailler in Broc führen Sie Chocolatiers in die Kunst des
      Temperierens und der Ganache ein, damit Sie Ihre ganz
      eigenen Maison Cailler Kunstwerke kreieren können.
      Sie reisen also mit besonderen Kreationen und unvergesslichen
      Erinnerungen aus unserer Schokoladenfabrik in Broc zurück
      nach Hause. Besuchen Sie uns gerne und buchen Sie
      dafür schon jetzt einen Workshop online in der
      Maison Cailler Chocolate Factory – für Ihren ganz
      persönlichen Schokoladentraum!
    </p>
    <br> <br>
    <p class="p-bold"> Escape Game im Maison du Chocolat Cailler
    </p> 
    <p>
      ((HL)) Escape Game im Maison du Chocolat Cailler in einem
authentischen historischen Wagen werden Sie in die Welt
unserer berühmten Cailler Schokolade eintauchen.
Und selbstverständlich: Auf die Mutigsten unter Ihnen
wartet eine Schokoladenbelohnung. Freuen Sie sich auf ein
unvergessliches Erlebnis im Hause Cailler in Broc, das Sie mit
Familie oder Freunden teilen können.
Besuchen Sie unsere Schokoladenfabrik!
    </p>
    <br> <br>
    <p class="p-bold"> Auf dem Gelände der Cailler Fabrik
    </p> 
    <p>
      
Unser unterhaltsamer Rundgang durch das gesamte Gelände der
Cailler Schokoladenfabrik führt Sie und ihre Liebsten etwa einer
Stunde lang zurück in die Zeit zu Beginn des 20. Jahrhunderts.
Sie werden Persönlichkeiten begegnen, die die Geschichte
des Maison Cailler massgeblich geprägt haben.
Wir freuen uns auf Sie!
    </p>
</div>
<div class="box-erlebniss">
  <div class="bild-erlebnisse">
    <img src="/erlebnisse1.png" alt="" />
    <p>Museum Besuchen ></p>
  </div>
  <div class="bild-erlebnisse">
    <img src="/erlebnisse2.png" alt="" />
    <p>Workshop ></p>
  </div>
  <div class="bild-erlebnisse">
    <img src="/erlebnisse3.png" alt="" />
    <a href="/escapegame">Escape Game ></a>
  </div>
  <div class="bild-erlebnisse">
    <img src="/erlebnisse4.png" alt="" />
    <p>Schokoladenspiel ></p>
  </div>
</div>
</div>
</div>


<div class="bg-brown" > 
  <div class="erlebniss" > 
    <div class="box2-erlebniss">
      <img src="/erlebnisse5.png" alt="" />
    </div>
    <div class="box2-erlebniss">
      <img src="/erlebnisse6.png" alt="" />
      <p>Von Bern zum Maison Cailler
        für ein ganz besonderes Schokoladenerlebnis <br> <br> 
        Besteigen Sie den Zug in Bern und fahren Sie
        ohne umzusteigen in nur 1 Stunde und 18 Minuten
        nach Broc-Chocolaterie (Maison Cailler).
        <br> <br> 
        <a href="https://www.chocolatexpress.ch/de/" target="_blank" class="a-light">chocolatexpress.ch</a>
      </p>
    </div>
  </div>  
</div>


<div class="bg-beige" > 
</div>