<div class="banner">
  <img src="/banner_erlebnisse.jpg" alt="" />
  <h2>Cailler Erlebnisse</h2>
</div>
<p>Schokoladenfabrik: Maison Cailler Erlebnisse​ Träumen Sie davon, einmal eine
  echte Schokoladenfabrik zu besuchen? Wir laden Sie ein, unser Schweizer Maison
  du Chocolat Cailler kennenzulernen und in die genussvolle Welt der Schokolade
  einzutauchen. Erfahren Sie in einem interaktiven Erlebnis für die Sinne alles
  über unsere Cailler Fabrik in Broc, treffen Sie unsere Chocolatiers und
  kreieren Sie in unseren Schokoladen-Workshops Ihre eigene Schokolade.</p>

<a href="/escapegame">Escape</a>