<div class="banner">
  <img src="/banner_escape.jpg" alt="" />
  <h2>Escape Game</h2>
</div>
<div class="bg-white" id="escape">
  <div id="box-escape">
    <h3>Das Escape Game des Maison Cailler: eine sehr schokoladige Storyline</h3>
    <p>In einem authentischen historischen Wagen werden Sie in die Welt unserer
      berühmten Cailler Schokolade entführt. Auf die Mutigsten wartet eine
      Schokoladenbelohnung.
      <br />
      <br />Ein unvergessliches Erlebnis in einer einzigartigen Umgebung, das
      Sie mit Familie oder Freunden teilen können!
      <br />
      <br />
      Kennen Sie die Figuren Fop Cailler und Fip Kohler, die Symbolfiguren des
      1936 gegründeten Fip Fop Clubs? Dieser Club, der die Filmwelt und die
      Schokoladenvermarktung in der Schweiz revolutioniert hat. Die Storyline
      des Escape Games Maison Cailler wird Sie auf eine Reise in die
      Vergangenheit mitnehmen.
      <br />
      <br />
      Stellen Sie sich der Herausforderung durch zahlreiche Herausforderungen,
      um dem Assistenten des Filmvorführers zu helfen und die nächste
      Reisesitzung des Fip Fop-Clubs zu retten, eine Sitzung, auf die Hunderte
      von Kindern in der Schweiz warten.
      <br />
      <br />
      Lassen Sie sich von einem unglaublichen Abenteuer mit Freunden, der
      Familie, einem einzigartigen und unterhaltsamen Erlebnis, verführen.</p>
    <br />
    <br />
    <div class="escape">
      <h3>Teilnehmerzahl:</h3>
      <p>
        Unser Escape Game kann maximal 5 Teilnehmer aufnehmen, idealerweise ab 3
        Personen (Anwesenheit eines Erwachsenen erforderlich).</p></div>
    <br />
    <br />
    <div class="escape">
      <h3>Schwierigkeitsgrad und Strategie:</h3>
      <p>mittel-hoch.</p></div>
    <br />
    <br />
    <div class="escape">
      <h3>Zugangsvoraussetzungen:</h3>
      <p>Kinder ab 12 Jahren in Begleitung eines/einer Erwachsenen.</p></div>
    <br />
    <br />
    <div class="escape">
      <h3>Sprache:</h3>
      <p>Das Escape Game ist auf Deutsch, Englisch und Französisch verfügbar.</p></div>
    <br /><br />
    <p>
      Wir behalten uns das Recht vor, das Spiel bei unangemessenem Verhalten und
      Nichtbeachtung des Materials zu unterbrechen.
      <br />
      <br />
      Teilnehmer erhalten einen ermässigten Preis für den Besuch des Maison
      Cailler. Dies muss gleichzeitig mit dem Escape Game online gebucht werden.</p>
    <br /><br />
    <button><a href="/besuch">Besuch</a></button></div>
  <div id="box-escape">
    <img src="/escape1.png" alt="" />
  </div>
</div>