<div class="banner">
  <img src="/banner_news.jpg" alt="" />
  <h2>News</h2>
</div>

<div class="bg-white" id="news">
  <div id="box-news">
    <img src="/news1.png" alt="" />
  </div>
  <div id="box-news">
    <p>19/02/2025</p>
    <h3>Fasnacht-Party im Maison Cailler, Mittwoch, 26. Februar!
    </h3>
    <p>Kommt verkleidet und erhaltet freien Eintritt. Kleine Schokoladen-Fans
      dürfen sich zudem auf kostenloses Kinderschminken freuen! Und: Ihr könnt
      euch Plätze ...</p>

    <button><a href="/newsartikel">Mehr erfahren</a></button>
  </div>

</div>
<div class="bg-white" id="news">
  <div id="box-news">
    <img src="/news2.png" alt="" />
  </div>
  <div id="box-news">
    <p>15/02/2025</p>
    <h3>Maison Cailler dankt seinen Besuchern für das Rekordjahr 2024
    </h3>
    <p>Cailler, der renommierte Schweizer Schokoladenhersteller mit einer
      150-jährigen Tradition in der Herstellung exquisiter
      Schokoladenerlebnisse, freut sich, rekordverdächtige ...</p>

    <button><a href="/newsartikel">Mehr erfahren</a></button>
  </div>

</div>
<div class="bg-white" id="news">
  <div id="box-news">
    <img src="/news3.png" alt="" />
  </div>
  <div id="box-news">
    <p>01/11/2024</p>
    <h3>Museumsnacht im Maison Cailler, Samstag, 9. November 2024
    </h3>
    <p>Nicht verpassen: Besucht das Maison Cailler by Night! Erlebt einen
      köstlich-schokoladigen Abend während der Nacht der Museen am Samstag, den
      11.11. von 17:00 Uhr ...</p>

    <button><a href="/newsartikel">Mehr erfahren</a></button>
  </div>

</div>
<div class="bg-white" id="news">
  <div id="box-news">
    <img src="/news4.png" alt="" />
  </div>
  <div id="box-news">
    <p>30/10/2024</p>
    <h3>PETZI-Signierstunde - Zeichensession: Entdecken Sie Ihr inneres Kind
      wieder!
    </h3>
    <p>
      Am Mittwoch, den 6. November, von 13:30 bis 17:00 Uhr, können Sie den
      Autor Thierry Capezzone bei der PETZI-Signierstunde im Café Cailler
      kennenlernen. Diese ...</p>

    <button><a href="/newsartikel">Mehr erfahren</a></button>
  </div>

</div>
<div class="bg-white" id="news">
  <div id="box-news">
    <img src="/news5.png" alt="" />
  </div>
  <div id="box-news">
    <p>13/09/2024</p>
    <h3>Neues kostenloses Spiel «HALLOWEEN RUND UM DIE WELT» von 1. Oktober bis
      6. November 2024
    </h3>
    <p>
      Halloween steht vor der Tür: Entdecken Sie die neue kostenlose Aktivität
      für Familien und Kinder - im Freien - in der Maison Cailler! Das Team von
      Maison Cailler freut sich, ...</p>

    <button><a href="/newsartikel">Mehr erfahren > </a></button>
  </div>

</div>
<div class="bg-white">

  <h3>
    Presseanfragen</h3>
  <p>
    MAISON CAILLER
    <br />
    Chocolaterie Suisse
    <br />
    Rue Jules Bellet 7
    <br />
    1636 Broc
    <br />
    <br />

    +41 26 921 59 60
    <br />
    maisoncailler@nestle.com</p></div>