<div class="banner">
  <img src="/banner_news.jpg" alt="" />
  <h2>Maison Cailler dankt seinen Besuchern für das Rekordjahr 2024</h2>
</div>

<div class="bg-white" id="news">
  <div id="box-newsartikel" >
    <img src="/artikel1.png" alt="" />
  </div>
  <div id="box-news">
    <p>Cailler, der renommierte Schweizer Schokoladenhersteller mit
      einer 150-jährigen Tradition in der Herstellung exquisiter
      Schokoladenerlebnisse, freut sich, rekordverdächtige
      Besucherzahlen für 2024 bekannt zu geben. Maison Cailler,
      das immersive Schokoladenmuseum in Broc, begrüsste fast
      eine halbe Million Besucher durch seine Türen, was einen
      bemerkenswerten Anstieg von 10 % im Vergleich zum Vorjahr
      bedeutet.</p>
  </div>
</div>
<div class="bg-white">
   <p>
    Seit seiner Eröffnung im Jahr 2010 hat das Maison Cailler die Herzen von über fünf Millionen Schokoladenliebhabern aus der
ganzen Welt erfreut und ihnen die reiche Geschichte und die köstlichen Kreationen von Cailler nähergebracht. Dieser jüngste
Erfolg unterstreicht die anhaltende Anziehungskraft sowohl der Marke als auch des interaktiven Museumserlebnisses. <br> <br>
Das Jahr 2025 markiert einen bedeutenden Meilenstein für Cailler: Wir feiern 150 Jahre hervorragende Milchschokolade und 15
Jahre seit der Eröffnung des Maison Cailler. Wir sind sehr dankbar für die anhaltende Liebe und den Besuch unserer Besucher,
Kunden und Partner, und wir freuen uns darauf, diese Geburtstage gemeinsam zu feiern.<br> <br>
Ausführlichere Informationen zu diesem Rekordjahr finden Sie in der <a href="https://www.cailler.ch/sites/site.prod2.cailler.ch/files/2025-02/MM_Maison%20Cailler%20Rekordjahr%202024.pdf" class="a-light" target="_blank">Nestlé-Pressemitteilung</a>.
   </p>
   <br> <br><br>
  <p class="p-bold">
    Über Cailler:
  </p>
  <br>
  <p>
    Die Geschichte der Schweizer Schokoladenmarke Cailler reicht bis ins Jahr 1825 zurück. Sie ist für ihre Verpflichtung zur Qualität
bekannt und schafft seit Generationen exquisite Schokoladenerlebnisse. Das Maison Cailler, das interaktive Schokoladenmuseum
in Broc, bietet den Besuchern eine einzigartige Reise in die Welt der Cailler-Schokolade.
  </p>
  <br> <br>
  <a href="/news" class="a-light">Zu allen News ></a>


</div>
<div class="bg-white">

  <h3>
    Presseanfragen</h3>
  <p>
    MAISON CAILLER
    <br />
    Chocolaterie Suisse
    <br />
    Rue Jules Bellet 7
    <br />
    1636 Broc
    <br />
    <br />

    +41 26 921 59 60
    <br />
    maisoncailler@nestle.com</p></div>