<div class="banner">
  <img src="/banner_shop.jpg" alt="" />
  <h2>Cailler Collection 356g</h2>
</div>

<div class="produkt1 bg-white">
  <div class="produkt1-1">
    <div class="produkt1-1__bild">
      <img src="/produkt1.png" alt="" />
      <div class="produkt1-2__bilder">
        <img src="/produkt1.png" alt="" />
        <img src="/produkt2.png" alt="" />
      </div>
    </div>

    <div class="produkt1-1__infos">
      <div class="produkt1-1__details">
        <p class="p-bold produkt1-1__titel">Cailler "Souvenirs" Pralinen
          <br />
          248g</p>
        <div class="produkt1-1__beschreibung">
          <p class="p-bold">Beschreibung</p>
          <p>Sie sind die Auserwählten. Weil sie so köstlich sind. So harmonisch
            und charaktervoll. So aromatisch und subtil. Und so zart. Vereint
            für einen Tag, um dich und deine Liebsten zu erfreuen. Greif zu und
            geniesse. Die zerfliessende Haselnusscreme. Die knisternden
            Mandelsplitter. Der schmelzende Kakao. Und du verstehst, weshalb sie
            die Auserwählten sind.</p>
        </div>

      </div>

      <div class="produkt1-2">
        <div class="produkt1-2__anzahl">
          <p>Anzahl</p>
          <div class="produkt1-2__anzahl--anzeige">
            <button>-</button>
            <p>1</p>
            <button>+</button>
          </div>
          <button>In den Warenkorb</button>
        </div>
        <div class="produkt1-2__preis">
          <div class="produkt1-2__preis--gesamt">
            <p>Gesamtpreis</p>
            <p class="p-bold">29.90 CHF</p>
          </div>
          <p>8.40 CHF/100g</p>
        </div>
      </div>
    </div>

  </div>

</div>