<div class="banner">
  <img src="/banner_shop.jpg" alt="" />
  <h2>Cailler Collection 356g</h2>
</div>

<div class="produkt1 bg-white">
  <div class="produkt1-1">
    <div class="produkt1-1__bild">
      <img src="/produkt1.png" alt="" />
      <div class="produkt1-2__bilder">
        <img src="/produkt1.png" alt="" />
        <img src="/produkt2.png" alt="" />
      </div>
    </div>

    <div class="produkt1-1__infos">
      <div class="produkt1-1__details">
        <p class="p-bold produkt1-1__titel">Cailler "Souvenirs" Pralinen
          <br />
          248g</p>
        <div class="produkt1-1__beschreibung">
          <p class="p-bold">Beschreibung</p>
          <p>Sie sind die Auserwählten. Weil sie so köstlich sind. So harmonisch
            und charaktervoll. So aromatisch und subtil. Und so zart. Vereint
            für einen Tag, um dich und deine Liebsten zu erfreuen. Greif zu und
            geniesse. Die zerfliessende Haselnusscreme. Die knisternden
            Mandelsplitter. Der schmelzende Kakao. Und du verstehst, weshalb sie
            die Auserwählten sind.</p>
        </div>

      </div>

      <div class="produkt1-2">
        <div class="produkt1-2__anzahl">
          <p>Anzahl</p>
          <div class="produkt1-2__anzahl--anzeige">
            <button>-</button>
            <p>1</p>
            <button>+</button>
          </div>
          <button class="produkt1-2__anzahl-btn">In den Warenkorb</button>
        </div>
        <div class="produkt1-2__preis">
          <div class="produkt1-2__preis--gesamt">
            <p>Gesamtpreis</p>
            <p class="p-bold">29.90 CHF</p>
          </div>
          <p>8.40 CHF/100g</p>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="produkt2 bg-white">
  <p class="p-bold">Produkt-Informationen - Pralinensortiment</p>
  <p><strong>Zutaten:</strong>Zucker, gezuckerte Kondensmilch (Milch,
    Magermilch, Zucker), Kakaobutter, Kakaomasse, Haselnüsse, Mandeln,
    Butterreinfett, Glukose Fruktose-Sirup, Kakao, Vollmilchpulver,
    Feuchthaltemittel (Sorbit), Sonnenblumenöl, Kokosnussöl, Weizenmehl,
    Haselnusspaste, Magermilchpulver, natürliches Zitronenaroma mit anderen
    natürlichen Aromen, Emulgator (Sonnenblumenlecithin), Kaffee-Extrakt, Salz,
    karamellisierter Zucker, Stabilisator (Invertase), Vanilleextrakt,
    natürliches Vanillearoma.</p>
  <p>
    <strong>Enthält:</strong>
    Weizen, Milch, Haselnüsse, Mandeln
    <br />
    <strong>kann enthalten:</strong>
    Eier, andere Nüsse.</p>
  <p><strong>Pro 100g:</strong>
    Energie 2305 KJ (553kcal) Fett 35 g davon gesättigte Fettsäuren 17 g,
    Kohlenhydrate, 50 g davon Zucker 47g, Ballaststoffe 3.2 g Eiweiss 7.1 g Salz
    0.17 g</p>
  <p>Trocken lagern. Vor Wärme schützen.</p>
  <p class="p-bold">Hergestellt in der Schweiz
    <br />
    Vertrieb von: Nestlé Schweiz S.A., Case Postale 2222, 1800 Vevey, Schweiz</p>
  <p>Diese Informationen dienen zum besseren Verständnis. Massgeblich sind die
    Werte auf den Verpackungen.</p>
</div>

<div class="produkt3 bg-white">
  <a href="/shop">Zurück zu allen Produkten ></a>
</div>