<div class="banner">
  <img src="/banner_shop.jpg" alt="" />
  <h2>Shop</h2>
</div>

<div class="shop1 bg-white">
  <input type="text" placeholder="Suchen" />
  <button>Filtern</button>
</div>

<div class="shop2 bg-white">
  <div class="shop2__linie">
    <div class="shop2__produkt bg-beige">
      <div class="shop2__produkt-1">
        <div class="shop2__produkt--bild">
          <img src="/shop1.png" alt="" />
        </div>
        <p>Cailler Collection <br /> 356g</p>
      </div>
      <p class="p-bold">29.90 CHF</p>
      <button><a href="/produkt">Details ansehen</a></button>
    </div>
    <div class="shop2__produkt bg-beige">
      <div class="shop2__produkt-1">
        <div class="shop2__produkt--bild">
          <img src="/shop2.png" alt="" />
        </div>
        <p>Cailler "Souvenirs" Pralinen <br /> 248g</p>
      </div>
      <p class="p-bold">21.95 CHF</p>
      <button><a href="/produkt">Details ansehen</a></button>
    </div>
    <div class="shop2__produkt bg-beige">
      <div class="shop2__produkt-1">
        <div class="shop2__produkt--bild">
          <img src="/shop3.png" alt="" />
        </div>
        <p>Cailler Crunchy & Caramel <br /> 100g</p>
      </div>
      <p class="p-bold">2.95 CHF</p>
      <button><a href="/produkt">Details ansehen</a></button>
    </div>
  </div>

  <div class="shop2__linie">
    <div class="shop2__produkt bg-beige">
      <div class="shop2__produkt-1">
        <div class="shop2__produkt--bild">
          <img src="/shop1.png" alt="" />
        </div>
        <p>Cailler Collection <br /> 356g</p>
      </div>
      <p class="p-bold">29.90 CHF</p>
      <button><a href="/produkt">Details ansehen</a></button>
    </div>
    <div class="shop2__produkt bg-beige">
      <div class="shop2__produkt-1">
        <div class="shop2__produkt--bild">
          <img src="/shop2.png" alt="" />
        </div>
        <p>Cailler "Souvenirs" Pralinen <br /> 248g</p>
      </div>
      <p class="p-bold">21.95 CHF</p>
      <button><a href="/produkt">Details ansehen</a></button>
    </div>
    <div class="shop2__produkt bg-beige">
      <div class="shop2__produkt-1">
        <div class="shop2__produkt--bild">
          <img src="/shop3.png" alt="" />
        </div>
        <p>Cailler Crunchy & Caramel <br /> 100g</p>
      </div>
      <p class="p-bold">2.95 CHF</p>
      <button><a href="/produkt">Details ansehen</a></button>
    </div>
  </div>

  <div class="shop2__linie">
    <div class="shop2__produkt bg-beige">
      <div class="shop2__produkt-1">
        <div class="shop2__produkt--bild">
          <img src="/shop1.png" alt="" />
        </div>
        <p>Cailler Collection <br /> 356g</p>
      </div>
      <p class="p-bold">29.90 CHF</p>
      <button><a href="/produkt">Details ansehen</a></button>
    </div>
    <div class="shop2__produkt bg-beige">
      <div class="shop2__produkt-1">
        <div class="shop2__produkt--bild">
          <img src="/shop2.png" alt="" />
        </div>
        <p>Cailler "Souvenirs" Pralinen <br /> 248g</p>
      </div>
      <p class="p-bold">21.95 CHF</p>
      <button><a href="/produkt">Details ansehen</a></button>
    </div>
    <div class="shop2__produkt bg-beige">
      <div class="shop2__produkt-1">
        <div class="shop2__produkt--bild">
          <img src="/shop3.png" alt="" />
        </div>
        <p>Cailler Crunchy & Caramel <br /> 100g</p>
      </div>
      <p class="p-bold">2.95 CHF</p>
      <button><a href="/produkt">Details ansehen</a></button>
    </div>
  </div>

  <div class="shop2__linie">
    <div class="shop2__produkt bg-beige">
      <div class="shop2__produkt-1">
        <div class="shop2__produkt--bild">
          <img src="/shop1.png" alt="" />
        </div>
        <p>Cailler Collection <br /> 356g</p>
      </div>
      <p class="p-bold">29.90 CHF</p>
      <button><a href="/produkt">Details ansehen</a></button>
    </div>
    <div class="shop2__produkt bg-beige">
      <div class="shop2__produkt-1">
        <div class="shop2__produkt--bild">
          <img src="/shop2.png" alt="" />
        </div>
        <p>Cailler "Souvenirs" Pralinen <br /> 248g</p>
      </div>
      <p class="p-bold">21.95 CHF</p>
      <button><a href="/produkt">Details ansehen</a></button>
    </div>
    <div class="shop2__produkt bg-beige">
      <div class="shop2__produkt-1">
        <div class="shop2__produkt--bild">
          <img src="/shop3.png" alt="" />
        </div>
        <p>Cailler Crunchy & Caramel <br /> 100g</p>
      </div>
      <p class="p-bold">2.95 CHF</p>
      <button><a href="/produkt">Details ansehen</a></button>
    </div>
  </div>
</div>