<div class="banner">
  <img src="/banner_home.jpg" alt="" />
  <h2>Willkommen bei Cailler</h2>
</div>

<div class="home1 bg-beige">
  <div class="home1--text">
    <h1>Bei Maison Cailler vor Ort</h1>
    <p>Cailler Schokolade in ihren Facetten entdecken Unternehmen Sie gerne
      einen Ausflug zu Cailler, der Welt der Schweizer Cailler Schokolade. Hier
      erwartet Sie ein Mix aus tollen Aktivitäten, die Ihnen allein oder
      gemeinsam mit Ihren Liebsten ganz sicher in Erinnerungen bleiben. Unsere
      interaktive Führung lässt Sie für etwa eine Stunde in die Geschichte der
      Schokolade eintauchen, entführt Sie etwa zu den alten Azteken und zeigt
      Ihnen auch heutige Innovationen, mit denen wir die Qualität unserer
      cremigen Delikatesse bewahren.
    </p>
    <p>Das Maison Cailler lädt Sie herzlich ein! Erfahren Sie, wie sorgfältig
      Kakaobohnen und Zutaten für unsere Cailler Schokoladen gewählt und
      verwendet werden und verwöhnen Sie Ihren Gaumen anschliessend bei einer
      Degustation mit feinen Caillier Schokoladen unterschiedlichster
      Geschmacksaromen. Ein Event für alle Sinne.</p>
  </div>
  <div class="home1--bild">
    <img src="/home1.png" alt="" />
    <button>Cailller Besuchen</button>
  </div>
</div>

<div class="home2 bg-white">
  <div class="home2-1">
    <div class="home2-1--text">
      <h1>Cailler Schokolade im Webshop herstellen</h1>
      <p>Wir bei Cailler sind stolz auf unser Know-how in puncto Schokolade und
        teilen unsere Leidenschaft, Erfahrung und Handwerkskunst gern mit
        Schokoladen-Liebhabern weltweit. In unseren Schokoladen-Workshops
        bringen wir Ihnen zum Beispiel die Kunst des Temperierens und
        Ganachierens bei und geben praktische Tipps mit, damit Sie noch vor Ort
        Ihre eigene Cailler Schokolade zaubern können. Werden Sie eine Zeit lang
        zum Cailler Chocolatier und kreieren Sie eigene Kunstwerke, die Sie sich
        direkt auf der Zunge zergehen lassen oder Ihren Liebsten zu Hause
        schenken können. Und ganz bestimmt kommen dabei auch unvergessliche
        Erinnerungen mit ins Gepäck. Appetit bekommen? Buchen Sie einen Workshop
        online und entwickeln Sie Ihr eigenes Praliné.</p>
    </div>
    <div class="home2-1--bild">
      <img src="/home2.png" alt="" />
      <p>Workshop ></p>
    </div>
  </div>
  <div class="home2-2">
    <div class="home2-2--text">
      <h1>Cailler Schokolade kaufen</h1>
      <p>Das breite Sortiment von Cailler garantiert eine Vielfalt authentischer
        und liebevoll zubereiteter Kreationen unserer Schweizer Schokolade. Mit
        Cailler-Klassikern, Gourmet- Schöpfungen und persönlichen Geschenkideen
        bereiten Sie jedem Menschen eine Freude.</p>
    </div>
    <div class="home2-2--bild">
      <img src="/home3.png" alt="" />
      <a href="/shop">Shop ></a>
    </div>
  </div>
</div>

<div class="home3 bg-beige">
  <div class="home3--text">
    <h1>Über die Marke Cailler</h1>
    <p>Cailler ist seit mehr als einem Jahrhundert in Greyerz, im Herzen der
      Schweizer Voralpen, zu Hause. Bis heute entstehen im Maison Cailler
      exquisite Schokoladen und schokoladige Köstlichkeiten. Nachhaltiger Kakao,
      Milch aus der Region sowie erlesene Zutaten stellen die hohe Qualität
      sicher. Abgerundet wird die sorgfältige Herstellung unserer Cailler
      Schokolade mit einem tiefen Wissen über die Kunst der
      Schokoladenherstellung.</p>
  </div>
  <div class="home3--bild">
    <img src="/home4.png" alt="" />
    <button>Zur Marke</button>
  </div>
</div>

<div class="home4 bg-white">
  <div class="home4--text">
    <h1>Cailler Rezepte</h1>
    <p>Haben Sie schon mal etwas Süßes mit Cailler Schokolade selbst gezaubert?
      Nein? Dann können Sie das mit unseren einfachen Rezepten jetzt nachholen.
      Ganz gleich, ob Sie Cailler Schokoladenkuchen, Kekse und Brownies machen
      oder das Schwierigkeitslevel anheben und exquisitere Schokoladendesserts
      ganz aus Cailler Schokolade kreieren möchten - alles ist möglich! Mit den
      süßen Leckerbissen verführen Sie Familie, Freunde und Gäste und machen
      Ihre nächste Veranstaltung damit vielleicht zur besten aller Zeiten.
      Probieren Sie's aus!</p>
  </div>
  <div class="home4--bild">
    <img src="/home5.png" alt="" />
    <p>Rezepte ></p>
  </div>
</div>