<h1>Bei Maison Cailler vor Ort</h1>
<p>Cailler Schokolade in ihren Facetten entdecken Unternehmen Sie gerne einen
  Ausflug zu Cailler, der Welt der Schweizer Cailler Schokolade. Hier erwartet
  Sie ein Mix aus tollen Aktivitäten, die Ihnen allein oder gemeinsam mit Ihren
  Liebsten ganz sicher in Erinnerungen bleiben. Unsere interaktive Führung lässt
  Sie für etwa eine Stunde in die Geschichte der Schokolade eintauchen, entführt
  Sie etwa zu den alten Azteken und zeigt Ihnen auch heutige Innovationen, mit
  denen wir die Qualität unserer cremigen Delikatesse bewahren. Das Maison
  Cailler lädt Sie herzlich ein! Erfahren Sie, wie sorgfältig Kakaobohnen und
  Zutaten für unsere Cailler Schokoladen gewählt und verwendet werden und
  verwöhnen Sie Ihren Gaumen anschliessend bei einer Degustation mit feinen
  Caillier Schokoladen unterschiedlichster Geschmacksaromen. Ein Event für alle
  Sinne.
</p>
<button>Cailller Besuchen</button>