<div class="banner">
  <img src="/banner_ueberuns.jpg" alt="" />
  <h2>Über Cailler</h2>
</div>
<div class="bg-white">
  <div class="center">
    <p>
      Cailler
    </p>
    <hr />
    <p>
      Die älteste noch existierende Schokoladenmarke der Schweiz
    <p> 200 Jahre Expertise</p>
  </div>
</div>
<div class="bg-beige">
  <p class="p-bold">
    Die Kunst der Schokoladenherstellung
  </p>
  <p>Im Maison Cailler, unserer Schokoladenfabrik in Broc, verbinden wir unseren
    Stolz auf Traditionen mit unserem Innovationsgeist. Hier durchläuft unsere
    Schokolade alle Verarbeitungsstufen, vom Rösten unserer hochwertigen
    Kakaobohnen bis zur Vollendung unser Schokoladenkreationen. Cailler gehört
    weltweit zu den wenigen Schokoladenherstellern, die leicht kondensierte
    Milch.
    <br />Diese Milch wird gemäss unserem speziellen Verfahren der Kakaomasse
    hinzugefügt. Diese Methode verleiht den Cailler Schokoladenprodukten ihren
    unverwechselbar köstlichen Geschmack und ihre einmalige Textur.
    <br />Unsere Kreationen werden dann im Maison Cailler verpackt. Jeden Tag
    verlassen über 300'000 süsse Versuchungen unsere Fabrik.</p>
</div>
<div class="bg-white">

</div>
<div class="bg-beige">
  <p class="p-bold">
    Unser Engagement in der Region
  </p>
  <p>
    Seit der Gründung von Cailler unterhalten wir eine enge Beziehung mit den
    Milchbauern der Region. Aufgrund unseres lokalen Engagements und
    nachhaltigen Partnerschaften mit ungefähr 50 Landwirten in der Region können
    wir eine optimale Milchqualität gewährleisten.
    <br />
    Unsere Milch stammt von ca. 1500 Kühen, die in einem Umkreis von gerade
    einmal 30 km um das Maison Cailler weiden. Sie verbringen den Sommer auf den
    unberührten Weiden der Freiburger Alpen und kehren im Herbst auf die
    sattgrünen Wiesen um Broc zurück.
    <br />
    Wie gelingt Cailler diese zart-schmelzende Schokoladentextur? Regelmässig
    bringen die Landwirte aus der Umgebung unserem Partner Milch von ihren
    Bauernhöfen. Sie wird dort kondensiert und danach ins Maison Cailler
    gebracht. Die leicht kondensierte Milch wird innert 24 Stunden im flüssigen
    Zustand unserer Schokolade hinzugegeben. Diese Methode ist für die
    schmelzende Textur und den unverwechselbaren Geschmack verantwortlich.
    <br />
    <br />
    Cailler ist auch der einzige Schokoladenhersteller in der Schweiz, der
    IP-SUISSE zertifizierte Milch verarbeitet. Alle lokalen Milchproduzenten,
    die Cailler beliefern, garantieren den Respekt für die Natur in ihrem
    Betrieb, um eine grosse Artenvielfalt zu bewahren. Dies ist ein weiteres
    gutes Beispiel für unser Engagement für die Region und für die Schweiz.</p>
</div>
<div class="bg-white">

</div>
<div class="bg-beige">
  <p class="p-bold">
    Nachhaltige Praktiken für eine bessere Zukunft
  </p>
  <p>

    Der Nestlé Cocoa Plan versorgt CAILLER mit nachhaltig beschafftem,
    unabhängig zertifiziertem Kakao. Dieser Plan basiert auf 3 Säulen: Besserer
    Anbau, Besseres Leben und Besserer Kakao. Besserer Anbau bedeutet die
    Verbesserung der landwirtschaftlichen Anbauweisen, um die Erträge und damit
    das Einkommen der Bauern zu steigern. Zum Schutz der Umwelt arbeiten wir
    auch an der Bekämpfung der Entwaldung und der Förderung der
    Agrarforstwirtschaft.
    <br />Ein besseres Leben konzentriert sich vor allem auf die Stärkung der
    Gleichstellung der Geschlechter und die Verbesserung des Zugangs zu Bildung.
    Besserer Kakao entsteht durch den Aufbau langfristiger Beziehungen zu Bauern
    und Bauerngruppen sowie durch die Rückverfolgbarkeit.
    <br />
    Weitere Informationen finden Sie unter www.nestlecocoaplan.com
    <br /><br />Das Siegel der Rainforest Alliance bedeutet, dass Landwirte
    nachhaltigere landwirtschaftliche Praktiken anwenden, die Wälder schützen,
    ihren Lebensunterhalt verbessern, die Menschenrechte der Landarbeiter
    fördern und ihnen helfen, die Klimakrise abzumildern und sich an sie
    anzupassen.
    <br />Erfahren Sie mehr unter ra.org.
    <br /><br />Alle Rezepte für CAILLER-Schokoladen, die in der Broc-Fabrik
    hergestellt werden, sind mit grösstem Respekt für die Schokoladentradition
    aus sorgfältig ausgewählten Zutaten entwickelt und enthalten kein Palmöl.</p>
</div>
<div class="bg-white">

</div>