@import url("https://use.typekit.net/hop7kvp.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-brown: #603e31;
  --color-beige-medium: #e0c58e;
  --color-beige-light: #f5ecda;

  --font-size-big: 30px;
  --font-size-small: 18px;
}

html {
  scroll-behavior: smooth;
}

main {
  min-height: 1000px;
  padding: 120px 80px 0 80px;
}

h1 {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-size-big);
  color: var(--color-brown);
}

h2 {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-big);
  color: var(--color-white);
}

p,
a {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-small);
  color: var(--color-brown);
  text-decoration: none;
}

header img,
li,
li a {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-size-big);
  color: var(--color-brown);
  list-style: none;
}

button,
button a {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-big);
  color: var(--color-white);
  background-color: var(--color-beige-medium);
  border: 0;
  padding: 8px 25px;
  border-radius: 10px;
}

img {
  width: 100%;
  height: auto;
}

/*----------------------------Navigation-----------------------------------*/
header {
  padding: 40px 0;
  display: flex;
  width: 88%;
  justify-content: space-between;
  border-bottom: 3px solid var(--color-beige-medium);
  position: fixed;
  top: 0;
  left: 80px;
  background-color: #fff;
}

.navigation {
  display: flex;
  padding-right: 80px;
  width: 60%;
  justify-content: space-between;
}

.unternavigation {
  position: absolute;
  display: none;
  gap: 20px;
  flex-direction: column;
  background-color: var(--color-beige-light);
  padding: 20px;
}

.nicht-verlinkt:hover {
  color: var(--color-brown);
}

header a:hover {
  color: var(--color-beige-medium);
}

#logo {
  width: 100px;
  height: auto;
}

#link-unav1:hover #unav1,
#link-unav2:hover #unav2,
#link-unav3:hover #unav3,
#link-unav4:hover #unav4 {
  display: flex;
}

#link-unav4 a,
#link-unav4 ul li a {
  font-size: var(--font-size-small);
}

#unav4 {
  position: absolute;
  display: none;
  gap: 20px;
  flex-direction: column;
  background-color: var(--color-beige-light);
  padding: 20px;
}

.sprache {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sprache img {
  width: 32px;
  height: auto;
}

/*------------------------------------Footer---------------------------------*/
footer {
  background-color: var(--color-brown);
  padding: 20px 80px;
  display: flex;
}

footer img {
  width: 60px;
  height: auto;
}

.footer-nav1-some a img {
  width: 30px;
  height: auto;
}

#logo-nestle {
  width: 80px;
  height: auto;
}

footer a,
footer p {
  color: var(--color-white);
}

.footer_strich-r {
  border-right: 3px solid var(--color-white);
}

.footer_striche {
  border-left: 3px solid var(--color-white);
  border-right: 3px solid var(--color-white);
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px 40px 0 0;
}

.footer-ort {
  width: 30%;
  padding: 20px 0 0 40px;
}

.footer-ort p {
  padding-top: 8px;
}

iframe {
  width: 100%;
  height: 200px;
  padding-bottom: 12px;
}

.footer-nav1 {
  display: flex;
  justify-content: space-between;
}

.footer-nav1-some,
.footer-nav1-links,
.footer-nav2,
.footer-logos-titel {
  display: flex;
  padding: 20px 0;
}

.footer-nav1-some a,
.footer-nav1-links a,
.footer-nav2 a {
  padding: 0 20px;
}

.footer-nav2 {
  align-self: flex-end;
}

.footer-logos-titel a {
  padding: 0 10px;
}

.footer-logos {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
