@import url("https://use.typekit.net/hop7kvp.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-brown: #603e31;
  --color-beige-medium: #e0c58e;
  --color-beige-light: #f5ecda;

  --font-size-big: 30px;
  --font-size-small: 18px;

  --padding-inhalte: 48px 80px 48px 80px;
}

html {
  scroll-behavior: smooth;
}

main {
  padding: 128px 0 0 0;
}

h1 {
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: var(--font-size-big);
  color: var(--color-brown);
}

h2 {
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: var(--font-size-big);
  color: var(--color-white);
}

h3 {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-size-small);
  color: var(--color-brown);
  text-decoration: none;
}

p,
a {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-small);
  color: var(--color-brown);
  text-decoration: none;
}

.a-light {
  color: var(--color-beige-medium);
}

.p-bold {
  font-weight: 600;
}

.kleingedrucktes {
  font-size: 12px;
}

header img,
li,
li a {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-size-big);
  color: var(--color-brown);
  list-style: none;
}

button,
button a {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-big);
  color: var(--color-white);
  background-color: var(--color-beige-medium);
  border: 0;
  padding: 5px 18px;
  border-radius: 10px;
}

img {
  width: 100%;
  height: auto;
}

.bg-beige {
  background-color: var(--color-beige-light);
  padding: var(--padding-inhalte);
}

.bg-white {
  padding: var(--padding-inhalte);
}

.bg-brown {
  background-color: var(--color-brown);
  padding: var(--padding-inhalte);
}

/*----------------------------Navigation-----------------------------------*/
header {
  padding: 40px 80px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 3px solid var(--color-beige-medium);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
}

.navigation {
  display: flex;
  padding-right: 80px;
  width: 60%;
  justify-content: space-between;
}

.unternavigation {
  position: absolute;
  display: none;
  gap: 20px;
  flex-direction: column;
  background-color: var(--color-beige-light);
  padding: 20px;
}

.nicht-verlinkt:hover {
  color: var(--color-brown);
}

header a:hover {
  color: var(--color-beige-medium);
}

#logo {
  width: 100px;
  height: auto;
}

#link-unav1:hover #unav1,
#link-unav2:hover #unav2,
#link-unav3:hover #unav3,
#link-unav4:hover #unav4 {
  display: flex;
}

#link-unav4 a,
#link-unav4 ul li a {
  font-size: var(--font-size-small);
}

#unav4 {
  position: absolute;
  display: none;
  gap: 20px;
  flex-direction: column;
  background-color: var(--color-beige-light);
  padding: 20px;
}

.sprache {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sprache img {
  width: 32px;
  height: auto;
}

/*------------------------------------Footer---------------------------------*/
footer {
  background-color: var(--color-brown);
  padding: 20px 80px;
  display: flex;
}

footer img {
  width: 60px;
  height: auto;
}

.footer-nav1-some a img {
  width: 30px;
  height: auto;
}

#logo-nestle {
  width: 80px;
  height: auto;
}

footer a,
footer p {
  color: var(--color-white);
}

.footer_strich-r {
  border-right: 3px solid var(--color-white);
}

.footer_striche {
  border-left: 3px solid var(--color-white);
  border-right: 3px solid var(--color-white);
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px 40px 0 0;
}

.footer-ort {
  width: 30%;
  padding: 20px 0 0 40px;
}

.footer-ort p {
  padding-top: 8px;
}

iframe {
  width: 100%;
  height: 200px;
  padding-bottom: 12px;
}

.footer-nav1 {
  display: flex;
  justify-content: space-between;
}

.footer-nav1-some,
.footer-nav1-links,
.footer-nav2,
.footer-logos-titel {
  display: flex;
  padding: 20px 0;
}

.footer-nav1-some a,
.footer-nav1-links a,
.footer-nav2 a {
  padding: 0 20px;
}

.footer-nav2 {
  align-self: flex-end;
}

.footer-logos-titel a {
  padding: 0 10px;
}

.footer-logos {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*--------------------------------Banner----------------------*/

.banner {
  position: relative;
  background-color: var(--color-brown);
  height: 80vh;
}

.banner h2 {
  position: absolute;
  top: 380px;
  left: 80px;
}

/*------------------- Home ----------------------*/

.home1 {
  display: flex;
  gap: 120px;
}

.home1 button {
  align-self: flex-start;
}

.home1--text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.home1--bild {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.home2 {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.home2-1,
.home2-2 {
  display: flex;
  gap: 160px;
}

.home2-1--text,
.home2-2--text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

.home2-1--bild,
.home2-2--bild {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 20%;
  align-items: center;
}

.home3 {
  display: flex;
  gap: 80px;
}

.home3 button {
  align-self: flex-start;
}

.home3--text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

.home3--bild {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 40%;
}

.home4 {
  display: flex;
  gap: 160px;
}

.home4--text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 60%;
}

.home4--bild {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 8px;
  align-items: center;
}
/*--------------- Besuch -----------------------*/

.besuch1 {
  margin: 40px 0;
}

.besuch1 p {
  width: 80%;
}

.besuch2 {
  display: flex;
  flex-direction: column;
}

.besuch2__container {
  display: flex;
}

.besuch2__container--1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding-right: 20px;
  border-right: 3px solid var(--color-beige-medium);
}

.besuch2__container--2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding-left: 20px;
}

.besuch2 button {
  align-self: flex-end;
  margin: 20px 0;
}

.besuch2__container--2 button {
  margin-top: 30px;
}

.besuch2--preis {
  display: flex;
  justify-content: space-between;
}

.besuch3 {
  padding: 0 80px;
  display: flex;
  gap: 20px;
  margin: 40px 0;
}

.besuch3__abschnitt {
  background-color: var(--color-brown);
  width: 33%;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.besuch3__abschnitt p {
  color: var(--color-white);
}

.besuch3--beige p {
  color: var(--color-beige-medium);
}

.besuch3-1__liste {
  display: flex;
  justify-content: space-between;
}

.besuch3-2__liste {
  display: flex;
  gap: 20px;
}

.besuch3-2__liste-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.besuch3-2__liste-icons img {
  width: 30px;
  height: auto;
}

.besuch3-2__liste-text {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 19px;
}

.besuch3-3__sprachen {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.besuch4 {
  display: flex;
  justify-content: space-between;
}

.besuch4-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.besuch4-1__liste {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
}

.besuch4-2 {
  width: 52%;
}

.besuch4-2 iframe {
  width: 100%;
  height: 300px;
}

.besuch5 {
  margin: 40px 0;
}

.besuch5 p {
  color: var(--color-white);
}

.besuch5,
.besuch6 {
  display: flex;
  justify-content: space-between;
}

.besuch5-1,
.besuch6-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.besuch5-2,
.besuch6-1 {
  width: 30%;
  height: auto;
}

.besuch6 {
  margin-bottom: 40px;
}

/*------------------- Escape Game ----------------------*/
#escape {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.escape {
  display: flex;
  flex-direction: row;
}

/*------------------- News ----------------------*/
#news {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.news {
  display: flex;
  flex-direction: row;
}

#box-news {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#box-news button {
  margin-top: 20px;
  align-self: flex-start;
}

/*------------------- Newsartikel ----------------------*/

#box-newsartikel {
  width: 200%;
}

/*------------------- Erlebnisse ----------------------*/

.erlebniss {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.box-erlebniss {
  display: flex;
  flex-direction: row;
  gap: 15%;
}

.text-erlebnisse {
  width: 70%;
}

.box-erlebniss img {
  width: 200px;
  height: auto;
}

.erlebniss2 {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.box2-erlebniss img {
  width: 350px;
  height: auto;
}

.box2-erlebniss p {
  color: var(--color-white);
}

.express {
  margin: 5% 0;
}

/*------------------- Ueber uns ----------------------*/

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

hr {
  width: 35%;
  color: var(--color-brown);
}

.ueberuns1,
.ueberuns2,
.ueberuns3 {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.ueberuns-logos {
  display: flex;
  flex-direction: row;
  margin: 20% 0;
  gap: 10%;
}

.text-ueberuns button {
  margin: 5% 0;
}

/*-----------------------------Shop--------------------*/

.shop1 input {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-big);
  color: var(--color-white);
  background-color: var(--color-beige-medium);
  border: 0;
  padding: 5px 18px;
  border-radius: 10px;
}

.shop2 button,
.shop2 button a {
  font-size: var(--font-size-small);
}

.shop1 {
  display: flex;
  gap: 40px;
}

.shop2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.shop2__linie {
  display: flex;
  gap: 40px;
}

.shop2__produkt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.shop2__produkt-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.shop2__produkt--bild {
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-------------------------Produkt-----------------------*/

.produkt1-1 {
  display: flex;
  justify-content: space-between;
}

.produkt1-1__bild {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.produkt1-2__bilder {
  display: flex;
  gap: 40px;
}

.produkt1-2__bilder img {
  width: 100px;
  height: auto;
}

.produkt1-1__infos {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.produkt1-1__details {
  background-color: var(--color-beige-light);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  height: 462px;
}

.produkt1-1__titel {
  text-align: center;
}

.produkt1-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produkt1-2__anzahl {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.produkt1-2__anzahl--anzeige {
  display: flex;
  gap: 40px;
  align-items: center;
}

.produkt1-2__anzahl button,
.produkt1-2__anzahl button a {
  font-size: var(--font-size-small);
}

.produkt1-2__anzahl--anzeige button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.produkt1-2__anzahl-btn {
  margin-top: 20px;
}

.produkt1-2__preis {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.produkt2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.produkt3 {
  margin-bottom: 40px;
}

.produkt3 a {
  color: var(--color-beige-medium);
}

/*---------------Erklärseite----------------*/
.erklaerung1 {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.erklaerung2,
.erklaerung3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}
